
@media (min-width: 601px) {
    .buttonContainer {
        top: 0.25rem;
        right: 0.25rem;
    }
}

@media (max-width: 600px) {
    .buttonContainer {
        top: 0.25rem;
        left: 0.25rem;
    }
}

.buttonContainer {
    position: absolute;
    padding: 0.25rem;
    display: flex;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
    z-index: 20;
}
.buttonContainer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}