
.buttonContainer {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    padding: 0.25rem;
    display: flex;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
    z-index: 20;
}
.buttonContainer:hover {
    background-color: rgba(0, 0, 0, 0.1);
}