.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    align-items: center;
}

.productListing {
    max-width: 1920px;
    display: grid;
    gap: 1rem;
}

@media (min-width: 601px) {
    .productListing {
        width: 85%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .productListing {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }
}

.titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #6D326D;
    padding: 2rem;
}
.title {
    color: white;
    font-size: 1.75rem;
}