.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

.productListingTitle {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0rem;
    color: #6D326D;
    background-color: #F6F5AE;
    font-size: 1.75rem;
    line-height: 1.5;
    border-radius: 1rem;
    max-width: 1920px;
}

.productListing {
    max-width: 1920px;
    display: grid;
    gap: 1rem;
}

@media (min-width: 601px) {
    .pageContainer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .productListingTitle {
        width: 85%;
    }
    .productListing {
        width: 85%;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .pageContainer {
        padding: 1rem;
        z-index: 1;
    }
    .productListingTitle {
        width: 100%;
    }
    .productListing {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}